.popup-overlay{
  background-color: rgba(9, 9, 9, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;

  .popup-container{
    background: #fff;
    width: 65%;
    margin: 0 auto;
    padding: 15px 20px;
    border-radius: 8px;
    .popup-modal-header{
      border-bottom: 2px solid #e4e4e4;
      position: relative;
      display: flex;
      padding: 10px 0;
      h2{
        margin: 0;
      }
      .close{
        position: absolute;
        width: 24px;
        height: 25px;
        right: 0;
        cursor: pointer;
        #close-icon{
          font-size: 24px;
          color: blue;
        }
      }
    }

    .popup-modal-content{
      background-color: #f9f9f9;
      padding: 15px 0;
    }

    .popup-modal-footer{
      border-top: 2px solid #e4e4e4;
      position: relative;
      display: flex;
      padding: 10px 0;
    }

    .btn-section{
      display: flex;
      justify-content: center;
      width: 100%;
      .btn{
        width: 120px;
        margin-right: 15px;
        text-transform: uppercase;
      }
    }

  }

}
