.calc-btn{
  background: none;
  border: none;
  outline: none;
  right: 30px;
  position: relative;
}

.copyfrom{
  text-transform: uppercase;
  .btn-group{
    .btn{
      text-transform: uppercase;
      outline: none;
      &:focus{
        box-shadow: none !important;
      }
    }
    .btn-normal{
      border: 1px solid #eee;
    }
  }

}


