.salary-calc-form{
  border-radius: 5px;
  border: 1px solid #eee;
  header{
    background-color: darkblue;
    display: flex;
    color: #fff;
    justify-content: space-between;
    padding: 20px;
    text-transform: uppercase;
  }
  .borrow-list{
    padding: 0 20px;
    input.fieldreadonly{
      border: none;
      background-color: transparent;
      outline: none;
    }
    .borrow-field{
      label{
        text-transform: uppercase;
        font-size: 12px;
      }
      input, select{
        border: none;
        outline: none;
        width: 100%;
      }
      background-color: #fff;
      margin: 10px auto;
      border: 1px solid #e4e4e4;
      border-radius: 5px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      min-height: 64px;
      width: 80%;
      &.income-field{
        div.doller{
          &::before{
            content: '$';
            position: absolute;
          }
        }
        input{
          padding-left: 20px;
        }
      }
    }

    .total-income-section{
      input{
        padding-right: 10px;
        width: 100%;
      }
    }

    .extra-field{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      .hours-field{
        width: auto;
        grid-column: 2;
      }
    }
  }


}
